body{
  padding: 0;
  margin: 0;

}
.g_s_1{
  margin-top:30px;
}
.title{
  text-align: center;
  padding: 7% 15%;
}
.intro{
  text-align: center;
}
.groome_detail{
  text-align: center;
  margin: auto auto;
  font-size: 2rem;
  line-height: 2;
  padding: 0;
  font-family: 'Cinzel Decorative', cursive;
  color:#F08080;
}
p{
  padding: 0;
}
.groome_row{
  margin-top: 30px;
}

.bride_detail{
  text-align: right;
  margin: auto auto;
  font-size: 2rem;
  line-height: 2;
  padding: 0;
  font-family: 'Cinzel Decorative', cursive;
  color:#F08080;
}
.fs_bride{
  padding: 7% 15%;
  text-align: center;
}
.fs_grome{
  padding: 7% 15%;
  text-align: center;
}
.bride_side{
  font-family: 'Dancing Script', cursive;
}
.family_mem{
  border-radius: 100%;
}
.family_det{
  text-align: center;
  margin: auto auto;
}

.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}
