body{
  padding: 0;
  margin: 0;

}
.g_s_1{
  margin-top:30px;
}
.title{
  text-align: center;
  padding: 7% 15%;
}
.intro{
  text-align: center;
}
.groome_detail{
  text-align: center;
  margin: auto auto;
  font-size: 2rem;
  line-height: 2;
  padding: 0;
  font-family: 'Cinzel Decorative', cursive;
  color:#F08080;
}
p{
  padding: 0;
}
.groome_row{
  margin-top: 30px;
}

.bride_detail{
  text-align: right;
  margin: auto auto;
  font-size: 2rem;
  line-height: 2;
  padding: 0;
  font-family: 'Cinzel Decorative', cursive;
  color:#F08080;
}
.fs_bride{
  padding: 7% 15%;
  text-align: center;
}
.fs_grome{
  padding: 7% 15%;
  text-align: center;
}
.bride_side{
  font-family: 'Dancing Script', cursive;
}
.family_mem{
  border-radius: 100%;
}
.family_det{
  text-align: center;
  margin: auto auto;
}
.gallry{
  text-align: center;
  padding: 7%;
}
.pre_wedding
{
  padding: 0 15%;
  margin-top: 50px;
}
